body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #F9F7F7;
    color: #3F72AF;
}

#content {
    background-color: #DBE2EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#toggleButton {
    background-color: #112D4E;
    color: #F9F7F7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#toggleButton:hover {
    background-color: #3F72AF;
}

#toggleButton:active {
    background-color: #112D4E;
}

.dark-mode {
    background-color: #112D4E;
    color: #F9F7F7;
}

.dark-mode #content {
    background-color: #112D4E;
    color: #F9F7F7;
}